html, body {
  height: 100%;
  margin: 0;
}

body {
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("1.png") no-repeat center center fixed;
  background-size: contain; 
}
